NodeRED/regul.json
[
    {
        "id": "d3138f86eb9e7eb6",
        "type": "function",
        "z": "469cbb6a8fa81cf2",
        "name": "multiple msg",
        "func": "let d = msg.payload;\n\n// si string => parse\nif (typeof d === \"string\") {\n    try {\n        d = JSON.parse(d);\n    } catch (e) {\n        node.error(\"JSON invalide: \" + e.message);\n        return null;\n    }\n}\n\n// Valeurs numériques\nconst temp = Number(d?.temperature_c);\nconst light = Number(d?.light_avg ?? d?.light_raw);\nconst pwm = Number(d?.actuators?.fan_pwm ?? 0);\n\n// Fan en %\nconst PWM_MAX = 255;   // max pour calculer %\nconst fanPct = Math.round(Math.max(0, Math.min(pwm, PWM_MAX)) * 100 / PWM_MAX);\n\n// Etats ON/OFF\nconst heatOn = !!d?.actuators?.heat;\nconst climOn = !!d?.actuators?.clim;\nconst fireOn = !!d?.fire_detected;\n\n// Seuils\nconst threshLow = Number(d?.thresholds?.low ?? 0);\nconst threshHigh = Number(d?.thresholds?.high ?? 0);\n\n// Messages vers 8 sorties\nconst msgTemp = { payload: temp, topic: \"Température (°C)\", ts: d?.timestamp_ms };\nconst msgLight = { payload: light, topic: \"Lumière\", ts: d?.timestamp_ms };\nconst msgHeat = { payload: heatOn, topic: \"Chaleur\" };\nconst msgClim = { payload: climOn, topic: \"Clim\" };\nconst msgFan = { payload: fanPct, topic: \"Fan (%)\" };\n\nconst msgFire = { payload: fireOn ? \"ON\" : \"OFF\", topic: \"Feu détecté\" };\nconst msgThLow = { payload: threshLow, topic: \"Seuil bas (°C)\" };\nconst msgThHigh = { payload: threshHigh, topic: \"Seuil haut (°C)\" };\n\n//return [msgTemp, msgLight, msgHeat, msgClim, msgFan];\nreturn [msgTemp, msgLight, msgHeat, msgClim, msgFan, msgFire, msgThLow, msgThHigh];\n",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "9f602d63fb280aeb"
            ],
            [
                "fef5ff9328233a56"
            ],
            [
                "687a5c7b9d6242a8"
            ],
            [
                "4371b93f8a27fde1"
            ],
            [
                "a79d5da8ba7cc451",
                "0521b275bf675798"
            ],
            [
                "82268f5c8d1e7c9c"
            ],
            [
                "f174c31fa7f5a013"
            ],
            [
                "b53ac7665a285a3f"
            ]
        ]
    },
    {
        "id": "a79d5da8ba7cc451",
        "type": "ui_gauge",
        "z": "469cbb6a8fa81cf2",
        "name": "",
        "group": "4f44463240bdc8ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fan",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "fef5ff9328233a56",
        "type": "ui_chart",
        "z": "469cbb6a8fa81cf2",
        "name": "",
        "group": "c24d18247b74bebf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Lumière",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9f602d63fb280aeb",
        "type": "ui_chart",
        "z": "469cbb6a8fa81cf2",
        "name": "",
        "group": "c24d18247b74bebf",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Température",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ad8301ab9d11125f",
        "type": "serial in",
        "z": "469cbb6a8fa81cf2",
        "name": "Serial Port",
        "serial": "2987e5b6304ec67b",
        "x": 280,
        "y": 540,
        "wires": [
            [
                "f5a65f08f4d17656"
            ]
        ]
    },
    {
        "id": "f5a65f08f4d17656",
        "type": "json",
        "z": "469cbb6a8fa81cf2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "d3138f86eb9e7eb6",
                "f8ea20c54c15ed56"
            ]
        ]
    },
    {
        "id": "f886c3a8487bf75e",
        "type": "serial out",
        "z": "469cbb6a8fa81cf2",
        "name": "Serial Port out Min Temp",
        "serial": "2987e5b6304ec67b",
        "x": 970,
        "y": 860,
        "wires": []
    },
    {
        "id": "827580eabf268851",
        "type": "ui_slider",
        "z": "469cbb6a8fa81cf2",
        "name": "",
        "label": "Température Maximum",
        "tooltip": "",
        "group": "35c8d8e5b9c455f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-20",
        "max": "50",
        "step": "0",
        "className": "",
        "x": 440,
        "y": 740,
        "wires": [
            [
                "b53ac7665a285a3f",
                "043c1557eb9ea278"
            ]
        ]
    },
    {
        "id": "9e5b85fc571a9230",
        "type": "serial out",
        "z": "469cbb6a8fa81cf2",
        "name": "Serial Port out Max Temp",
        "serial": "2987e5b6304ec67b",
        "x": 970,
        "y": 820,
        "wires": []
    },
    {
        "id": "e77b343c803a6590",
        "type": "ui_slider",
        "z": "469cbb6a8fa81cf2",
        "name": "",
        "label": "Température Minimum",
        "tooltip": "",
        "group": "35c8d8e5b9c455f3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-20",
        "max": "50",
        "step": "0",
        "className": "",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "f174c31fa7f5a013",
                "2772764fccfb6e86"
            ]
        ]
    },
    {
        "id": "b53ac7665a285a3f",
        "type": "ui_text",
        "z": "469cbb6a8fa81cf2",
        "group": "35c8d8e5b9c455f3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Tmax",
        "label": "",
        "format": "{{msg.payload}} °C",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "f174c31fa7f5a013",
        "type": "ui_text",
        "z": "469cbb6a8fa81cf2",
        "group": "35c8d8e5b9c455f3",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Tmin",
        "label": "",
        "format": "{{msg.payload}} °C",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 780,
        "wires": []
    },
    {
        "id": "043c1557eb9ea278",
        "type": "function",
        "z": "469cbb6a8fa81cf2",
        "name": "msg MAX",
        "func": "// pour MAX\nmsg.payload = \"MAX:\" + msg.payload + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 820,
        "wires": [
            [
                "9e5b85fc571a9230"
            ]
        ]
    },
    {
        "id": "2772764fccfb6e86",
        "type": "function",
        "z": "469cbb6a8fa81cf2",
        "name": "msg MIN",
        "func": "// pour MIN\nmsg.payload = \"MIN:\" + msg.payload + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 860,
        "wires": [
            [
                "f886c3a8487bf75e"
            ]
        ]
    },
    {
        "id": "f8ea20c54c15ed56",
        "type": "debug",
        "z": "469cbb6a8fa81cf2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "4371b93f8a27fde1",
        "type": "ui_led",
        "z": "469cbb6a8fa81cf2",
        "order": 1,
        "group": "d4cb5308e24924ab",
        "width": 0,
        "height": 0,
        "label": "Clim",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED L",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "687a5c7b9d6242a8",
        "type": "ui_led",
        "z": "469cbb6a8fa81cf2",
        "order": 2,
        "group": "d4cb5308e24924ab",
        "width": 0,
        "height": 0,
        "label": "Radiateur",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED R",
        "x": 730,
        "y": 560,
        "wires": []
    },
    {
        "id": "82268f5c8d1e7c9c",
        "type": "ui_led",
        "z": "469cbb6a8fa81cf2",
        "order": 1,
        "group": "206ffe6621f1faa0",
        "width": 0,
        "height": 0,
        "label": "Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED Feu",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "0521b275bf675798",
        "type": "ui_chart",
        "z": "469cbb6a8fa81cf2",
        "name": "",
        "group": "4f44463240bdc8ce",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Fan Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "4f44463240bdc8ce",
        "type": "ui_group",
        "name": "Données du ventilateur",
        "tab": "dad933b69f79d1a6",
        "order": 10,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c24d18247b74bebf",
        "type": "ui_group",
        "name": "Graphiques",
        "tab": "dad933b69f79d1a6",
        "order": 8,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2987e5b6304ec67b",
        "type": "serial-port",
        "name": "Serial Port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "35c8d8e5b9c455f3",
        "type": "ui_group",
        "name": "Limites de température",
        "tab": "dad933b69f79d1a6",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4cb5308e24924ab",
        "type": "ui_group",
        "name": "Status des controlleurs de température",
        "tab": "dad933b69f79d1a6",
        "order": 6,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "206ffe6621f1faa0",
        "type": "ui_group",
        "name": "Feu détécté ? ",
        "tab": "dad933b69f79d1a6",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dad933b69f79d1a6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f9818076eb0510f4",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-serialport": "2.0.3",
            "node-red-contrib-ui-led": "0.4.11"
        }
    }
]